*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.sec-1{
    background-image: url(./img/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    font-size: 20px;
}
#inputs:focus{
    outline: none;
}
#inputs{
    width: 100%;
}


.h-700{
    height: 700px;
}
.h-250{
    height: 250px;
}
.sec-1 .heading{
    /* color: #ADA996;  */
    color: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 font-size: 100px;
}
section .btn{
    background-color: aqua;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 05px;
}
.sec-2{
background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}
.sec-5 {
    background-image: url(./img/bg-signup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 40px;
}
.sec-5 input{
    font-size: 20px;
    border: 6px solid grey;
    border: none;
    padding: 6px;
    /* width: auto; */
    border-radius: 10px;
    
}
.sec-5 i{
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black;
}
.sec-5 h1{
    color: white;
    text-shadow: 3px 3px black;
}
footer i{
    font-size: 40px;
    color: rgb(81, 86, 237);
    border-radius: 50%;
    background-color: #434343;
    padding: 10px;
    margin-left: 20px;
}
.sec-6 i{
    font-size: 40px;
    color: rgb(81, 86, 237);
    border-radius: 50%;
    background-color: #434343;
    padding: 10px;
}
.sec-6 .clrr{
    border-radius: 15px;
    border: none;
    padding: 40px;
    word-wrap: normal;
}
.sec-6{
    padding: 40px ;
   
}
.sec-6 i:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    scale: 1.2;
}

footer i:hover{
    background-color: #000000;
    color: white;
    transition: 0.5s;
    scale: 1.2;
}
